body{
    background-color: mediumslateblue;
    padding:1px;
}

#title{
    text-align: center;
    font-size: xx-large;
    background-color: rgb(255 255 95);
    max-width: 60%;
    margin:0px auto;
    border-radius: 20px;
}

.wrapper{
    width: 800px;
    height:800px;
    margin: 0px auto;
    display:flex;
    flex-flow: column nowrap;
    border:5px gold groove;
}

.flex-div{
    flex:1 1 auto;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.cell{
    background-color: red;
    flex: 1 1 auto;
    /* margin:1px; */
}

.options{
    height:55px;
    padding:20px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    margin: 20px 0px;
    /*background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(211,25,25,1) 50%, rgba(252,176,69,1) 100%);*/
}

.opt{
    font-size: 25px;
    width:fit-content;
    height:fit-content;
    border-radius: 20px;
    border-style:ridge;
    background-color:lightgoldenrodyellow ;
    /* color:white; */
}